/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 89px 263px;
}

.age-calculator {
    background-color: #fff;
    padding: 56px 56px 70px;
    border-radius: 24px 24px 176px 24px;
    max-width: 840px;
    width: 100%;
    position: relative;
    height: 623px;
}

.input-section {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 48px;
    position: relative;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    color: #716F6F;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 700;

}

.input-group input {
    padding: 1.3rem;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    width: 160px;
    color: #716F6F;
}

.input-group input:focus,
.input-group input:hover {
    border-color: #854DFF;
}

.calculate-btn {
    background-color: #854dff;
    border: none;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: -48px;
    cursor: pointer;
}

.calculate-btn:hover {
    background-color: #000;
    /* chuyển sang đen khi hover */
}

.arrow-icon {
    font-size: 2rem;
    color: white;
    width: 100%;
    max-width: 46px;
    height: auto;
}



.result-section {
    margin-top: 3rem;
}

.result-section p {
    font-size: 96px;
    font-weight: 700;
    line-height: 105.6px;
}

.result-section .value {
    color: #854DFF;
    margin-right: 19px;
    font-size: 96px;
    font-weight: 400;
    line-height: 105.6px;
    transition: font-weight 0.3s ease;
    width: 50px;
}

.result-section .value.active {
    font-weight: 700;
    /* đậm khi có dữ liệu */
}


/* Mobile responsive */
@media (max-width: 500px) {
    body {
        padding: 1rem;
        margin: 0;
    }

    .age-calculator {

        border-radius: 24px 24px 88px 24px;
        max-width: 100%;
        width: 100%;
        padding: 52px 24px;
        height: 473px;
    }

    .input-section {
        display: flex;
        gap: 16px;
        position: relative;
        padding-bottom: 64px;
    }

    .input-group {
        width: 100%;
    }

    .input-group label {
        /* font-size: 0.75rem; */
        /* color: #716F6F; */
        text-transform: uppercase;
        /* letter-spacing: 2px; */
        margin-bottom: 4px;
    }

    .input-group input {
        max-width: 96px;
        height: 54px;
        width: 100%;
        padding: 0.8rem;
        font-size: 20px;
        font-weight: 700;
        /* border: 1px solid #ddd; */
        border-radius: 8px;
    }

    .input-group input:focus,
    .input-group input:hover {
        border-color: #854DFF;
    }

    .calculate-btn {
        align-self: center;
        background-color: #854dff;
        border: none;
        border-radius: 50%;
        padding: 1rem;
        cursor: pointer;
        margin-top: 1rem;
        width: 64px;
        height: 64px;
        bottom: -32px;
    }

    .calculate-btn:hover {
        background-color: #000;
        /* chuyển sang đen khi hover */
    }

    .arrow-icon {
        font-size: 1.5rem;
        color: white;
    }

    .arrow-icon img {
        width: 25px;
        height: 25px;
    }

    .result-section {
        margin-top: 2rem;
    }

    .result-section p {
        width: 154px;
        height: 58px;
        font-size: 52px;
        font-weight: 700;
        /* line-height: 57.2px; */
        display: flex;
        /* gap: 10px; */
    }

    .result-section .value {
        color: #854dff;
        min-width: 2ch;
        /* display: inline-block; */
        /* text-align: right; */
        font-size: 52px;

    }
}